<form #form="ngForm" (ngSubmit)="onSearch(form)">  
  <div class="form-row">
    <div class="form-group col-md-4">
      <label>Search Employee by Id</label>
      <!-- <input name="hourlySalary" #hourlySalary="ngModel" [(ngModel)]="service.formData.hourlySalary" class="form-control" required> -->
      <input name="idEmployee" ngModel type="number" class="form-control">
    </div>
    <div class="form-group col-md-3">
      <label> </label>
      <button type="submit" [disabled]="form.invalid" class="btn btn-lg btn-block btn-outline-success">SEARCH</button>
    </div>
  </div>
</form>
<table class="table table-hover">
  <tr>
    <th>Id</th>    
    <th>Full Name</th>    
    <th>Position</th>    
    <th>Contract</th>    
    <th>Hourly Salary</th>
    <th>Monthly Salary</th>
    <th>Annual Salary</th>
    <!-- <th>Annual Monthly Salary</th> -->
  </tr>
  <tr *ngFor="let emp of service.list">
    <td>{{emp.idEmployee}}</td>
    <td>{{emp.employeeName}}</td>
    <td>{{emp.employeePosition}}</td>
    <td>{{emp.contractType}}</td>
    <td>${{emp.hourlySalary | number: '2.'}}</td>
    <td>${{emp.monthlySalary | number: '2.'}}</td>
    <td>${{emp.annualHourlySalary | number: '2.'}}</td>
    <!-- <td>{{emp.annualMonthlySalary}}</td> -->
    <!-- <td><button (click)="onDelete(app.idAppointment, app.AppointmentDateTime)" class="btn btn-sm btn-outline-danger">&#935;</button></td> -->
    <!-- <td><button class="btn btn-sm btn-outline-danger">&#935;</button></td> -->
  </tr>
</table>