<div class="jumbron">
  <h1 class="display-4 text-center">Employee Management</h1>
  <hr>
  <p>Here you can find the Employee Management. To create a new one you must fill all 
      the information requested in the form. To consult an specific Employee you must enter their
      ID in the <i>Search Employee by Id</i> or just click SEARCH to see the all Employees information.
      The table shows the Annual salary calucated based on the type of Contract. 
  </p>
    <br>
  <div class="row">
    <div class="col-md-4">
      <app-employee></app-employee>
    </div>
    <div class="col-md-8">
      <app-employee-list></app-employee-list>
    </div>
  </div>
</div>
